.ruler {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

.ruler__point {
  position: absolute;
  left: 0;
  width: 40px;
  border-bottom: 2px solid black;

  &:nth-child(5n + 1) {
    width: 50px;
  }

  &:nth-child(10n + 1) {
    width: 60px;
  }

  & > span {
    position: absolute;
    right: -25px;
    bottom: -10px;
    transform: rotate(90deg);
  }
}

.input-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}