@import './PageWrapper/PageWrapper.scss';
@import './LevelMeter/LevelMeter.scss';
@import './Ruler/Ruler.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.heading {
    font-size: 30px;
    font-family: "Helvetica Neue", sans-serif;
    color: rgb(40, 40, 40);
    display: flex;
}